h2{
    color: #ffffff;
}
.espacio{
    height: 50px;
}
th{
    background:  rgba(255, 0, 234, 0.2);
    color: #ffffff;
}
td{
    background: rgba(0, 204, 255, 0.2);
    color: #ffffff;
    transition: 0.5s;
}
tbody tr:hover{
    background: rgba(0, 204, 255, 0.4);
    transition: 0.5s;
}
.rojo{
    background: rgba(255, 0, 0, 0.4);
}
.amarrillo{
    background: rgba(255, 251, 0, 0.4);
}
.verde{
    background: rgba(30, 255, 0, 0.4);
}