<div class="container-fluid text-center">
  <section>
    <h2>Fondos Recaudados</h2>
    <br>
    <table class="table">
      <thead>
        <tr>
          <th>Total Estudiantes</th>
          <th>Estudiantes que Abonaron</th>
          <th>Monto Total Recaudado</th>
          <th>Monto con Gastos</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>{{numberEstudiantes}}</td>
          <td>{{abonoEstudiantes}}</td>
          <td>$ {{totalPagos}}.00</td>
          <td>$ {{gastosTotal}}.00</td>
        </tr>
      </tbody>
    </table>
  </section>
  <br>
  <section>
    <h2>Gastos</h2>
    <table class="table">
      <thead>
        <th>N°</th>
        <th>Gasto</th>
        <th>Dinero Invertido</th>
      </thead>
      <tbody>
        
      </tbody>
    </table>
    <h2>No existen gastos por el momento</h2>
  </section>
</div>